#body {
  left: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  // z-index: 100;
  margin-left: 0;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: #E9F0F5;
  margin-top: 25px;
  padding-bottom: 10px;
}
#nav-header{
  margin-left: 250px;
  z-index: 20;
}
#body {
  margin-top: 40px;
  padding-top: 25px;
  padding-bottom: 40px;
  z-index: 16px
}
.mbv-panel{
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  min-height: 552px;
}
.mbv-nav{
  line-height: 50px;
}
#avatar {
  height: 51px;
  min-height: 51px;
  background: #56B596;
}

#avatar img {
  top: 5px;
  position: relative
}

#avatar-col {
  margin-left: -15px
}
.mbv-grid{
  padding-right: 25px;
  padding-left: 25px;
}
.mbv-panel-body{
  min-height: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}
table.dataTable {
  width: 100%;
  margin: 0 auto 15px;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 5px;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: .25em;
}
.btn.btn-outlined {
    outline: 0;
    background: 0 0;
    padding: 3px 15px 2px!important;
}
.btn-success.btn-outlined {
    color: #5cb85c;
    background: 0 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    cursor: pointer;
    border-color: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    cursor: default;
    color: #666!important;
    border: 1px solid transparent;
    background: 0 0;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    cursor: pointer;
    border-color: transparent;
}
.btn-success.active.btn-outlined, .btn-success:active.btn-outlined, .btn-success:focus.btn-outlined, .btn-success:hover.btn-outlined {
    background: #5cb85c;
    color: #fff;
    border-color: #5cb85c;
}
label.line-height{
  line-height: 34px;
}
table.dataTable{
  max-width: 74vw;
}
table.dataTable.display tbody tr.odd, table.dataTable.stripe tbody tr.odd {
    background-color: #f9f9f9;
}
table.dataTable.display tbody tr.even:hover, table.dataTable.display tbody tr.odd:hover, table.dataTable.display tbody tr:hover, table.dataTable.hover tbody tr.even:hover, table.dataTable.hover tbody tr.odd:hover, table.dataTable.hover tbody tr:hover {
    background-color: #f5f5f5;
}
table.dataTable thead td, table.dataTable thead th {
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid #111;
    outline: none;
}
table.dataTable tfoot td, table.dataTable tfoot th {
    padding: 10px 5px 6px;
    border-top: 1px solid #111;
    outline: none;
}
table.dataTable thead .sorting {
    background: url(/images/sort_both.png) center right no-repeat;
    cursor: pointer;
}
table.dataTable thead .sorting_desc {
    background: url(/images/sort_desc.png) center right no-repeat;
    cursor: pointer;
}
table.dataTable thead .sorting_asc {
    background: url(/images/sort_asc.png) center right no-repeat;
    cursor: pointer;
}

table.dataTable.display tbody tr.even:hover>.sorting_1, table.dataTable.display tbody tr.odd:hover>.sorting_1, table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr.even:hover>.sorting_1, table.dataTable.order-column.hover tbody tr.odd:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    background-color: #eaeaea;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #f1f1f1;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #f9f9f9;
}
.uppercase{
  text-transform: uppercase;
}
.sidebar-nav {
  padding: 0;
  list-style: none;
  margin-left: 25px;
  border-left: 2px solid rgba(59, 70, 72, .5)
}

.sidebar-nav>li {
  height: 35px;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative
}

.sidebar-nav>li>a {
  height: 35px;
  border: none;
  outline: 0;
  color: #89949B;
  display: block;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  padding: 10px 0 10px 25px
}

.sidebar-nav>li>a>.mbv-icon {
  width: 16px;
  height: 17px;
  vertical-align: top;
  display: inline-block
}

.sidebar-nav>li>a>.name {
  line-height: 16px;
  vertical-align: top
}

.sidebar-nav>li>a>.name>span>.label {
  float: right;
  margin-top: -3px;
  padding: 5px 10px;
  margin-right: 15px
}

.sidebar-nav>li>a>.mbv-icon~.name {
  margin-left: 10px
}

.sidebar-nav>li>a:focus,
.sidebar-nav>li>a:hover {
  border: none;
  background: rgba(0, 0, 0, .2)
}

.sidebar-nav>li.open:before,
.sidebar-nav>li:hover:before {
  display: none
}

.sidebar-nav>li.open {
  height: 100%
}

.sidebar-nav>li.open>a {
  background: rgba(0, 0, 0, .2)
}

.sidebar-nav>li:before {
  left: 0;
  top: 22px;
  width: 15px;
  content: ' ';
  position: absolute;
  display: inline-block;
  border: 1px solid rgba(59, 70, 72, .5)
}

.sidebar-nav>li.active {
  border-left: 5px solid #2EB398
}

.sidebar-nav>li.active>a {
  background: rgba(0, 0, 0, .4);
  padding-left: 20px
}

.sidebar-nav>li.active>a:hover {
  background: rgba(0, 0, 0, .4)
}

.sidebar-nav>li.active:before {
  display: none
}

.sidebar-nav>li.active:after {
  top: 6px;
  right: 0;
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 10px solid #E9F0F5
}

.sidebar-nav-container>.sidebar-nav {
  border: none;
  margin-left: -25px;
  margin-right: -25px
}

.sidebar-nav-container>.sidebar-nav>li:before {
  display: none
}

.sidebar-nav-container>.sidebar-nav>li>a {
  font-size: 15px;
  line-height: 15px;
  padding: 10px 25px
}

.sidebar-nav-container>.sidebar-nav>li>a>.name {
  line-height: 16px;
  margin-left: 8px
}

.sidebar-nav-container>.sidebar-nav>li>a>.mbv-icon {
  width: 15px;
  height: 16px;
  display: inline-block
}

.sidebar-nav-container>.sidebar-nav>li.active>a {
  padding-left: 20px
}
.mbv-tabs{
  margin: 0 25px;
}

[class*=" icon-fontello-"]:before, [class^=icon-fontello-]:before {
    font-family: fontello;
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
}
.icon-fontello-left-open-3:before {
    content: '\ed4a';
}
.sidebar-nav>li>a>.toggle-button {
  top: 13px;
  right: 14px;
  position: absolute;
  -webkit-transform-origin: 4px;
  -ms-transform-origin: 4px;
  transform-origin: 4px;
  -webkit-transition: all .125s ease;
  transition: all .125s ease
}

.sidebar-nav>li>a>.toggle-button.open {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.sidebar-nav>li>a>.toggle-button.opposite {
  -webkit-transform-origin: 12px;
  -ms-transform-origin: 12px;
  transform-origin: 12px
}

.sidebar-nav>li>a>.toggle-button.opposite.open {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}
.thongke{
  margin: 0 10px;
}
.bg-darkgreen45, .bg-focus-darkgreen45:focus, .bg-hover-darkgreen45:hover {
    background: #2EB398;
}
td.dt-body-right,th.dt-body-right {
  text-align: right;
}
table.dataTable.nowrap td, table.dataTable.nowrap th {
    white-space: nowrap;
}
table.dataTable.preline td, table.dataTable.preline th {
    white-space: pre-line;
}
.dt-content{
  max-width: 300px;
}
.dt-center{
  text-align: center;
}
